<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Máy tính đơn giản</title>
</head>
<body>
<h2>Máy tính đơn giản</h2>
<form action="" method="post">
    <label for="firstNumber">Số tứ nhất</label>
    <input type="text" name="firstNumber" required id="firstNumber" value="{firstNumber}"> <br/><br/>

    <button name="operator" value="+">+</button>&nbsp;
    <button name="operator" value="-">-</button>&nbsp;
    <button name="operator" value="*">*</button>&nbsp;
    <button name="operator" value="/">/</button> <br/><br/>

    <label for="secondNumber">Số tứ hai</label>
    <input type="text" name="secondNumber" required id="secondNumber" value="{secondNumber}"> <br/><br/>

    {result}
</form>
</body>
</html>
